@use 'sass:color';
@use 'config';
@use 'menu';
@use 'mobile';


* {
  box-sizing: border-box;
}

body {
  @include config.background();
  background-color: config.$primary-color;
  color: config.set-text-color(config.$primary-color);
  height: 100%;
  margin: 0;
  font-family: 'segoe UI, Tahoma, Geneva, Verdana, sans-serif';
  line-height: 1.5;
}

//headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(color.adjust(config.$primary-color, $lightness: 2%), 0.5);
  }
}
a {
  color: config.set-text-color(config.$primary-color);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: config.$secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;

  min-height: calc(100vh - 60px); // 60px is the height of the footer

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: config.$secondary-color;
        @include config.easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  gap: 30px;
  grid-template-areas:
    'bioimage bio bio'
    'job-1 job-2 job-3';
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: config.$secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1, 5rem;
  }

  .job-1 {
    grid-area: job-1;
  }

  .job-2 {
    grid-area: job-2;
  }

  .job-3 {
    grid-area: job-3;
  }

  .job {
    background: color.adjust(config.$primary-color, $lightness: 5%);
    padding: 0.5rem;
    border-bottom: config.$secondary-color 5px solid;
  }
}

#main-footer{
  text-align: center;
  padding: 1rem;
  background: color.adjust(config.$primary-color, $lightness: -10%);
  color: config.set-text-color(config.$primary-color);
  height: 60px;
}


